#!/usr/bin/make -f

%:
	dh $@ --with autoreconf

override_dh_shlibdeps:
	dpkg-shlibdeps -Tdebian/vscpl2drv-automation.substvars $$(pwd)/debian/vscpl2drv-automation/var/lib/vscp/drivers/level2/vscpl2drv-automation.so


override_dh_auto_install:
	strip linux/vscpl2drv-automation.so

